<div class="">
	<!-- Footer -->
	<footer
		class="text-center text-lg-start text-white"
		style="background-color: #2c3f52">
		<!-- Section: Social media -->
		<section
			class="d-flex align-items-center justify-content-between p-2"
			style="background-color: #1b2733">
			<!-- Left -->
			<div class="me-5 text-center mb-0">
				<h4 class="mb-0">CREATE TOURNAMENT by Ngơ Ngơ</h4>
			</div>
			<!-- Left -->

			<!-- Right -->
			<div class="social-media">
				<a href="" class="text-white me-4">
					<i class="bx bxl-facebook-square fs-3"></i>
				</a>
				<a href="" class="text-white me-4 fs-3">
					<i class="bx bxl-github"></i>
				</a>
			</div>
			<!-- Right -->
		</section>
		<!-- Copyright -->
		<div
			class="text-center p-3"
			style="background-color: rgba(0, 0, 0, 0.2)">
			© 2024 Copyright:
			<a class="text-white" href="https://mdbootstrap.com/"
				>createtour.com</a
			>
		</div>
		<!-- Copyright -->
	</footer>
	<!-- Footer -->
</div>
<!-- End of .container -->
