<div class="admin--wrapper">
	<div class="admin--sidebar">
		<div class="sidebar--header"><p>Admin</p></div>
		<div class="sidebar--nav">
			<ul class="nav nav-pills flex-column mb-auto gap-2">
				<li class="nav-item" *ngFor="let link of links; index as i">
					<a
						[routerLink]="link.link"
						[class.active]="this.activeIndex === i"
						(click)="this.activeIndex = i"
						class="nav-link"
						aria-current="page">
						<i [classList]="link.iconClass"></i>
						<span>{{ link.name }}</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="admin--content">
		<nav class="navbar topbar mb-4 static-top shadow">
			<ul class="sub-navbar ml-auto d-flex align-items-center gap-2">
				<p class="fw-bold fs-6">Hi, {{ name }}</p>
				<div class="action">
					<button
						mat-button
						color="primary"
						[matMenuTriggerFor]="menu"
						aria-label="button">
						<i class="fa fa-list fs-6" aria-hidden="true"></i>
					</button>
					<mat-menu #menu="matMenu">
						<button mat-menu-item>
							<i
								class="fa fa-plus fs-6 mx-1"
								aria-hidden="true"></i>
							New account
						</button>
						<button mat-menu-item>
							<i
								class="fa-solid fa-edit fs-6 mx-1"
								aria-hidden="true"></i>
							Edit
						</button>
						<button mat-menu-item (click)="logOut()">
							<i
								class="fa fa-arrow-right fs-6 mx-1"
								aria-hidden="true"></i>
							Log out
						</button>
					</mat-menu>
				</div>
			</ul>
		</nav>
		<div class="h-100">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>
