@import "../../../../shared/variable.scss";

.admin {
	&--wrapper {
		height: 100vh;
		display: flex;
	}

	&--content {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100vh;
		nav {
			display: flex;
			padding: 16px 16px;
			flex-direction: row-reverse;
			height: 60px;
		}
		.sub-navbar {
			display: flex;
		}
	}

	&--sidebar {
		background-color: $primary;
		display: flex;
		flex-direction: column;
		flex-shrink: 0;
		padding: 12px 8px;
		width: 250px;
		.sidebar {
			&--header {
				font-size: 24px;
				font-weight: bolder;
				color: white;
				height: 48px;
				border-bottom: 1px solid #e9e9e9;
				p {
					text-align: center;
					margin-top: 12px;
				}
			}

			&--nav {
				margin-bottom: auto;
				padding: 12px 0;

				.nav-item {
				}
				.nav-link {
					display: grid;
					grid-template-columns: 20% 80%;
					font-size: 16px;
					font-weight: bold;
					color: rgb(194, 194, 194);
					i {
						padding: 0 8px;
						margin-right: 12px;
					}
					&.active {
						color: white;
						background-color: $primary-light;
					}

					&:hover {
						color: white;
						background-color: $primary-light;
					}
				}
			}
		}
	}
}
