<div class="dashboard--wrapper">
	<div class="container">
		<div class="row">
			<h3 class="fw-bold fs-3 mb-3">Stats</h3>
			<div class="col-3">
				<div class="card">
					<div class="card--icon">
						<i class="fa-solid fa-user"></i>
					</div>
					<div class="card--content">
						<h4 class="card--title">{{ countUser }}</h4>
						<p>Users</p>
					</div>
				</div>
			</div>
			<div class="col-3">
				<div class="card">
					<div class="card--icon">
						<i class="bx bx-code-alt"></i>
					</div>
					<div class="card--content">
						<h4 class="card--title">{{ countTour }}</h4>
						<p>Tournament</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
