<div class="match--result">
	<div class="d-flex align-items-center justify-content-between">
		<div class="team border-0 w-75">
			<div class="team--img">
				<img
					*ngIf="team1.imageTeam"
					src="{{ team1.imageTeam }}"
					alt="logo"
					width="100%" />
				<img
					*ngIf="!team1.imageTeam"
					src="https://givetour-prod.s3.amazonaws.com/UploadFiles/AvatarPhoto/303e02e1-97c5-4ff5-ae78-22b17bb958ec.png"
					alt="logo"
					width="100%" />
			</div>
			<div class="team--name">
				{{ team1.name }}
			</div>
		</div>
		<div class="score fs-5 fw-bold">
			{{ matchResult.scoreT1 }}
		</div>
	</div>
	<div class="text-center">VS</div>
	<div class="d-flex align-items-center justify-content-between">
		<div class="score fs-5 fw-bold">
			{{ matchResult.scoreT2 }}
		</div>
		<div class="team border-0 w-75">
			<div class="team--img">
				<img
					*ngIf="team2.imageTeam"
					src="{{ team2.imageTeam }}"
					alt="logo"
					width="100%" />
				<img
					*ngIf="!team2.imageTeam"
					src="https://givetour-prod.s3.amazonaws.com/UploadFiles/AvatarPhoto/303e02e1-97c5-4ff5-ae78-22b17bb958ec.png"
					alt="logo"
					width="100%" />
			</div>
			<div class="team--name">
				{{ team2.name }}
			</div>
		</div>
	</div>
</div>
