<div class="overview--wrapper g-0">
	<app-spinner *ngIf="Tour.id === 0"></app-spinner>

	<div class="overview--content">
		<div class="row">
			<div class="col-4">
				<div class="detail--tour mx-auto">
					<div class="detail__header">
						Chi tiết giải đấu

						<!-- Button trigger modal -->
						<button
							mat-flat-button
							color="basic"
							aria-label="edit"
							*ngIf="canEdit"
							type="button"
							class="btn-edit"
							data-bs-toggle="modal"
							data-bs-target="#modalEdit"
							matTooltip="Chỉnh sửa thông tin giải">
							<i class="fa-solid fa-edit"></i>
						</button>

						<!-- Modal -->
						<div
							class="modal fade"
							id="modalEdit"
							tabindex="-1"
							aria-labelledby="exampleModalLabel"
							aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered">
								<div class="modal-content">
									<form-edit-tour
										[idTour]="this.idTour"
										(save)="
											saveTourData($event)
										"></form-edit-tour>
								</div>
							</div>
						</div>
					</div>

					<div class="detail__content">
						<div class="info">
							<div class="row">
								<div class="col-6">Môn thi đấu</div>
								<div class="col-6">
									{{ Tour.sportTypeId | sportName }}
								</div>
							</div>
						</div>
						<div class="info">
							<div class="row">
								<div class="col-6">Hình thức thi đấu</div>
								<div class="col-6">
									{{ Tour.formatTypeId | formatName }}
								</div>
							</div>
						</div>
						<div class="info">
							<div class="row">
								<div class="col-6">Địa chỉ</div>
								<div class="col-6">
									{{ Tour.location || "" }}
								</div>
							</div>
						</div>
						<div class="info">
							<div class="row">
								<div class="col-6">Số lượng đội:</div>
								<div class="col-6">
									{{ Tour.quantityTeam }}
								</div>
							</div>
						</div>
						<div class="info">
							<div class="row">
								<div class="col-6">Lượt xem giải:</div>
								<div class="col-6">
									{{ Tour.view }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-5">
				<div class="detail--tour mx-auto">
					<div class="detail__header">Lịch sử đấu</div>
					<div class="detail__content">
						<div
							class="match px-4"
							*ngFor="let matchResult of listMatchResult">
							<div
								class="d-flex align-items-center justify-content-between">
								<div class="team border-0 w-75">
									<div class="team--img">
										<img
											*ngIf="
												matchResult.__team1.imageTeam
											"
											src="{{
												matchResult.__team1.imageTeam
											}}"
											alt="logo"
											width="100%" />
										<img
											*ngIf="
												!matchResult.__team1.imageTeam
											"
											src="https://givetour-prod.s3.amazonaws.com/UploadFiles/AvatarPhoto/303e02e1-97c5-4ff5-ae78-22b17bb958ec.png"
											alt="logo"
											width="100%" />
									</div>
									<div class="team--name">
										{{ matchResult.__team1.name }}
									</div>
								</div>
								<div class="score fs-5 fw-bold">
									{{ matchResult.__scoreT1 }}
								</div>
							</div>
							<div class="text-center">VS</div>
							<div
								class="d-flex align-items-center justify-content-between">
								<div class="score fs-5 fw-bold">
									{{ matchResult.__scoreT2 }}
								</div>
								<div class="team border-0 w-75">
									<div class="team--img">
										<img
											*ngIf="
												matchResult.__team2.imageTeam
											"
											src="{{
												matchResult.__team2.imageTeam
											}}"
											alt="logo"
											width="100%" />
										<img
											*ngIf="
												!matchResult.__team2.imageTeam
											"
											src="https://givetour-prod.s3.amazonaws.com/UploadFiles/AvatarPhoto/303e02e1-97c5-4ff5-ae78-22b17bb958ec.png"
											alt="logo"
											width="100%" />
									</div>
									<div class="team--name">
										{{ matchResult.__team2.name }}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-3">
				<div class="detail--tour mx-auto">
					<div class="detail__header">
						Đội thi đấu
						<!-- Button trigger modal -->
						<button
							mat-flat-button
							color="basic"
							aria-label="edit"
							*ngIf="canEdit"
							type="button"
							class="btn-edit"
							data-bs-toggle="modal"
							data-bs-target="#modalEditTeam"
							matTooltip="Chỉnh sửa thông tin đội">
							<i class="fa-solid fa-edit"></i>
						</button>

						<!-- Modal -->
						<div
							class="modal fade"
							id="modalEditTeam"
							tabindex="-1"
							aria-labelledby="exampleModalLabel"
							aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered">
								<div class="modal-content">
									<form-edit-team
										[idTour]="this.idTour"
										(save)="
											reloadTeamData($event)
										"></form-edit-team>
								</div>
							</div>
						</div>
					</div>
					<div class="detail__content">
						<div class="team" *ngFor="let team of listTeams">
							<div class="team--img">
								<img
									*ngIf="team.imageTeam"
									src="{{ team.imageTeam }}"
									alt="logo"
									width="100%" />
								<img
									*ngIf="!team.imageTeam"
									src="https://givetour-prod.s3.amazonaws.com/UploadFiles/AvatarPhoto/303e02e1-97c5-4ff5-ae78-22b17bb958ec.png"
									alt="logo"
									width="100%" />
							</div>
							<div class="team--name">
								{{ team.name }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
