<app-spinner></app-spinner>
<app-header></app-header>

<div class="home--wrapper">
	<div class="home--introduce">
		<h3>Tạo và quản lý giải đấu của bạn một cách đơn giản!</h3>
		<p>
			create-tour.com giúp bạn quản lý giải đấu của mình một cách đơn giản
			và tiết kiệm thời gian.
		</p>
		<p>Hãy tham gia với chúng tôi ngày bây giờ.</p>
		<div class="search">
			<div class="input-focus-effect">
				<input
					for="search"
					name="search"
					id="search"
					type="text"
					placeholder=" " />
				<label for="search">Find Tour</label>
			</div>
			<span class="search-btn"><i class="bx bx-search-alt-2"></i></span>
		</div>
	</div>

	<div class="home--info container">
		<h2>Giới thiệu</h2>
		<div class="list--card">
			<div class="row">
				<div
					class="col-lg-4 col-md-6 col-sm-12 mt-4"
					*ngFor="let item of ListCardInfo">
					<app-card-info
						[title]="item.title"
						[content]="item.content"
						[classIcon]="item.classIcon"></app-card-info>
				</div>
			</div>
		</div>
	</div>

	<div class="home--guide container">
		<h2>Hướng dẫn</h2>
		<div class="list--card">
			<div class="row mt-4">
				<div class="col-1"></div>
				<div class="col-2">
					<div class="guide--card">
						<span>1</span>
						<p>Chọn loại môn và thể thức thi đấu</p>
					</div>
				</div>
				<div class="col-2"></div>
				<div class="col-2">
					<div class="guide--card">
						<span>3</span>
						<p>Tùy chỉnh tên đội, thành viên trong đội</p>
					</div>
				</div>
				<div class="col-2"></div>
				<div class="col-2">
					<div class="guide--card">
						<span>5</span>
						<p>Chia sẻ thông tin giải đấu với bạn bè</p>
					</div>
				</div>
			</div>
			<div class="row mt-4">
				<div class="col-1"></div>

				<div class="col-2"></div>
				<div class="col-2">
					<div class="guide--card">
						<span>2</span>
						<p>Chọn số lượng đội tham gia giải</p>
					</div>
				</div>
				<div class="col-2"></div>
				<div class="col-2">
					<div class="guide--card">
						<span>4</span>
						<p>Lên lịch thi đấu cho các trận</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="home--tour-list container">
		<h2>Giải đấu đang diễn ra</h2>
		<div class="mat-elevation-z8 mt-4" *ngIf="data.length != 0">
			<table mat-table [dataSource]="dataSource">
				<!-- Position Column -->
				<ng-container matColumnDef="name">
					<th mat-header-cell *matHeaderCellDef>Tên giải đấu</th>
					<td mat-cell *matCellDef="let element">
						{{ element.name }}
					</td>
				</ng-container>

				<!-- Name Column -->
				<ng-container matColumnDef="sportType">
					<th mat-header-cell *matHeaderCellDef>Môn thi đấu</th>
					<td mat-cell *matCellDef="let element">
						{{ element.sportTypeId | sportName }}
					</td>
				</ng-container>

				<!-- Weight Column -->
				<ng-container matColumnDef="formatType">
					<th mat-header-cell *matHeaderCellDef>Thể loại thi đấu</th>
					<td mat-cell *matCellDef="let element">
						{{ element.formatTypeId | formatName }}
					</td>
				</ng-container>

				<!-- Symbol Column -->
				<ng-container matColumnDef="location">
					<th mat-header-cell *matHeaderCellDef>Địa chỉ</th>
					<td mat-cell *matCellDef="let element">
						{{ element.created | date }}
					</td>
				</ng-container>

				<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
				<tr
					mat-row
					*matRowDef="let row; columns: displayedColumns"></tr>
			</table>
		</div>
		<h4 class="text-center text-white" *ngIf="data.length == 0">
			Không có giải đấu nào ở hiện tại
		</h4>
	</div>
</div>
<app-footer></app-footer>
