<div class="modal fade show" tabindex="5">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Bạn có chắc chắn muốn xóa ?</h5>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					(click)="onNoClick()"
					aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p>Bạn không thể khôi phục sau khi xóa</p>
			</div>
			<div class="modal-footer">
				<button
					type="button"
					mat-stroked-button
					data-bs-dismiss="modal"
					(click)="onNoClick()">
					Hủy
				</button>
				<button
					type="button"
					mat-raised-button
					color="warn"
					(click)="onSubmit()">
					Xác nhận
				</button>
			</div>
		</div>
	</div>
</div>
