<app-header></app-header>
<app-spinner *ngIf="listTour.length === 0"></app-spinner>

<div class="find-tour--wrapper container">
	<div class="d-flex flex-column">
		<div class="find--actions">
			<div class="find--input">
				<div class="text-field">
					<label for="tourName">Tên giải đấu</label>
					<input
						autocomplete="off"
						type="text"
						id="tourname"
						placeholder="Nhập tên giải đấu"
						[value]="searchValue"
						#searchInput />
				</div>

				<button
					mat-raised-button
					color="warn"
					(click)="onSearch()"
					aria-label="Search"
					class="find-btn">
					<i class="fa-solid fa-search"></i>
				</button>
			</div>
			<!-- <div class="find--filter">
				<div class="filter--sport">
					<app-dropdown
						[title]="titleSportSelect"
						[listItem]="sportTypeNameList"
						(outputValue)="
							onReceiveValueSportType($event)
						"></app-dropdown>
				</div>

				<div class="filter--status"></div>
			</div> -->
		</div>
		<div class="list--tour container">
			<h3 class="list--tour__header text-center fs-4 fw-bold">
				Danh sách các giải đấu
			</h3>
			<div class="list--tour__container">
				<div class="row">
					<div
						class="col-lg-4 col-md-12 mt-4"
						*ngFor="let tour of listTour"
						(click)="onViewDetail(tour.id)">
						<tour-card
							[tourName]="tour.name"
							[quantity]="tour.quantityTeam"
							[location]="tour.location"></tour-card>
					</div>
				</div>
			</div>
			<div
				class="pagination d-flex align-items-center justify-content-center">
				<table-pagination
					[_hasNext]="hasNext"
					[_hasPrev]="hasPrev"
					[_currentPage]="currentPage"
					[_totalPage]="totalPage"
					(changePage)="onChangePage($event)"></table-pagination>
			</div>
		</div>
	</div>
</div>
<app-footer></app-footer>
