<div class="management--wrapper">
	<header class="header--wrapper">
		<div class="header--top">
			<h2 class="mb-0">Tournament</h2>
		</div>
		<div class="header--action">
			<input type="text" placeholder="search" />
			<button mat-raised-button class="btn--bg-primary">
				<i class="fa fa-search px-1" aria-hidden="true"></i>Search
			</button>
		</div>
	</header>
	<div class="table--wrapper">
		<div class="mat-elevation-z8 w-100">
			<table class="table" mat-table [dataSource]="data">
				<!-- Position Column -->
				<ng-container matColumnDef="name">
					<th mat-header-cell *matHeaderCellDef>Name</th>
					<td mat-cell *matCellDef="let element">
						{{ element.name }}
					</td>
				</ng-container>

				<!-- Name Column -->
				<ng-container matColumnDef="sportType">
					<th mat-header-cell *matHeaderCellDef>Sport</th>
					<td mat-cell *matCellDef="let element">
						{{ element.sportTypeId | sportName }}
					</td>
				</ng-container>

				<!-- Weight Column -->
				<ng-container matColumnDef="formatType">
					<th mat-header-cell *matHeaderCellDef>Format</th>
					<td mat-cell *matCellDef="let element">
						{{ element.formatTypeId | formatName }}
					</td>
				</ng-container>

				<ng-container matColumnDef="quantity">
					<th mat-header-cell *matHeaderCellDef>Quantity Team</th>
					<td mat-cell *matCellDef="let element">
						{{ element.quantityTeam }}
					</td>
				</ng-container>

				<!-- Symbol Column -->
				<ng-container matColumnDef="location">
					<th mat-header-cell *matHeaderCellDef>Location</th>
					<td mat-cell *matCellDef="let element">
						{{ element.location }}
					</td>
				</ng-container>

				<ng-container matColumnDef="actions">
					<th
						mat-header-cell
						*matHeaderCellDef
						aria-label="row actions"></th>
					<td mat-cell *matCellDef="let element">
						<button
							(click)="openDeleteDialog(element.id)"
							mat-stroked-button
							color="warn"
							aria-label="Delete"
							matTooltip="Delete">
							<i class="fa fa-close" aria-hidden="true"></i>
						</button>
					</td>
				</ng-container>

				<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
				<tr
					mat-row
					*matRowDef="let row; columns: displayedColumns"></tr>
			</table>
		</div>
		<!-- <div class="table--pagination">
			<table-pagination
				[_hasNext]="hasNext"
				[_hasPrev]="hasPrev"
				[_currentPage]="currentPage"
				[_totalPage]="totalPage"
				(changePage)="onChangePage($event)"></table-pagination>
		</div> -->
	</div>
</div>
