@mixin layout {
	.management--wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 100%;

		.header {
			&--wrapper {
				display: flex;
				flex-direction: column;
				gap: 8px;
				width: 100%;
				margin-bottom: 12px;
			}

			&--top {
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 8px 24px;

				h2 {
					font-size: 32px;
					font-weight: bolder;
				}
			}

			&--action {
				display: grid;
				grid-template-columns: 89% 10%;
				padding: 8px 24px;
				gap: 12px;
				input {
					border-radius: 8px;
					padding: 4px 8px;
					outline: none;
					border: 1px solid #cfcfcf;
				}
			}
		}
		.table--wrapper {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 12px 24px;
			.table {
				border: 1px solid #fefefe;

				.actions {
					display: flex;
					align-items: center;
					gap: 12px;
				}
			}
		}
	}
}
